%script{src: 'http://maps.google.com/maps/api/js?sensor=true'}

%div{data: { role:'content' }}
  #map_canvas

:coffeescript
  google.maps.visualRefresh = true
  points = []

  createPoint = (reading) ->
    latitude = undefined
    longitude = undefined
    markerAttrs = undefined
    _ref = undefined
    _ref = reading.geo.coordinates
    longitude = _ref[0]
    latitude = _ref[1]

    new google.maps.LatLng(latitude, longitude)

  drawMarker = (i, reading) ->
    if reading.geo
      points.push createPoint(reading)
      markerAttrs =
        bounds: true
        animation: google.maps.Animation.DROP
        position: points[points.length - 1]
        icon: mapIcon(reading.eventCode, reading.speed)

      $("#map_canvas").gmap "addMarker", markerAttrs  if markerAttrs.icon

  $('#map_canvas').gmap().bind 'init', ->

    $.getJSON "https://api.mongohq.com/databases/gateway/collections/readings/documents?_apikey=3ivyp1chsvvas6kz8gsz&limit=100&q={mobileId:'#{@device_id}',updateTime:{$gte:#{@start_at},$lte:#{@end_at}}}", (data) ->

      $.each data, drawMarker

      $('#map_canvas').gmap 'addShape', 'Polyline',
        path        : points
        strokeColor : '#00B3FD'