= form_for(@user, :url => account_path, :html => {:class => 'form form-signin'}) do |f|
  %legend
    Notifications&nbsp;
    %a#notifications-info{data: {toggle: 'popover', placement: 'bottom', content: 'Subscribe to Geofence, High Speed, Off-hour Use, and Tow alerts.'}}
      %i.glyphicon.glyphicon-info-sign
  %div
    %div
      %b Email addresses:
    %div
      %input.form-control{disabled: "disabled", type: "text", value: current_user.email}/
      #emailsInput{style: 'display:none'}= f.text_field :notification_emails
    %div= f.submit :save, class: 'btn btn-primary'

:coffeescript
  $('#notifications-info').popover()