<p>For a limited time only, we're offering 20% off your <%= @on_mileage_reached %> Oil Change.</p>

<p><a style="display:inline-block;padding:7px 15px;margin-right:10px; background-color:#d44b38;color:#fff;font-size:15px;font-weight:bold; border:solid 1px #c43b28;white-space:normal;text-decoration:none;" href="http://app.zinlot.com">Schedule Appointment</a><p>