.panel.panel-default
  .panel-heading
    %h4 Run campaign
  
  .panel-body.form-inline
    .row
      .col-xs-12
        .form-group
          %label Campaign
          %select.form-control{ng: {model: 'campaignToRun', options: 'c.name for c in campaigns'}}
        
        .form-group
          %label Start date
          %input.form-control
          
        .form-group
          %label End date
          %input.form-control
    
    .row
      .col-xs-12
        %button.btn.btn-success Run