- content_for :ng_app, 'zin'

%script
  window.dealerLots = #{raw render(file: 'dealer_lots/index', formats: :json, locals: {dealer_lots: @dealer_lots})}
  window.serviceIssues = #{raw @service_issues.to_json}

%div{'ng-view' => ''}