/*
 *= require fonts
 *= require historical_trips
 *= require live_location
 *= require devices
 *= require_self
 */

@import 'font_awesome_icon_extracted';

body {
  font-family: 'Roboto local';
}

a {
  text-decoration: none;
}

#logo {
  color: #333333;
  text-decoration: none;
}

#test-drives {
  .style-Agressive, .style-Very-Agressive { color: white; }
  .style-Agressive { background-color: #bf6410; }
  .style-Very-Agressive {
    background-color: #c21b16;
  }
  .trip-stat-banner {
    background-color: #939ca1;
    color: white;
    font-size: 14px;
    text-shadow: 0 1px 0 #02375F;
  }
  .trip-stat-banner em {
    color: #666f74;
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 15px;
    text-shadow: none;
  }
}

// ICON CUSTOMIZATION (requires font-awesome)
.icon-ok {
  color: forestgreen;
}
.icon-remove {
  color: #a61120;
}
