/*
 *= require bootstrap
 *= require fonts
 *= require icomoon
 *= require campaigns
 *= require animate
 *= require_self
 */

html, body, #layout { height:100% }
body                { background-image:linear-gradient(#FAFAFA, #E0E0E0); background-repeat:no-repeat; background-attachment:fixed }

/* dashboard#index */
#dashboard {
  &.index {
    .panel-body h1 {
      margin-top: 0
    }
    
    .panel {
      
      min-height: 275px;
      
      .row {
        padding: 15px 0 5px;
      }

      .panel-body {
        padding: 0;
        /*min-height: 255px;
        height: 255px;*/
      }

    }
  }
}

/* settings#index */

#settings-index {
  .list-group-item {
    padding: 0 15px;
  }
  
  .table-hover tr {
    cursor: pointer;
  }
}
/* action icons */

.action-icons {
  a + a {
    margin-left: 7px;
  }
}

/* pretty signin inputs */

#signin {
  input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
  }

  input[type="password"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 10px;
  }
}

/* get rid of system generated borders */
a:active { outline:none; }
:focus { -moz-outline-style:none; outline:0 none !important; }

#layout { padding-left:165px }

.box {
  background: none repeat scroll 0 0 #FBFBFB;
  border: 1px solid #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 2px -2px #CCCCCC;
  margin-bottom: 18px;
}

.table-header {
  background: linear-gradient(#FBFBFB, #F1F1F1);
  border-bottom: 1px solid #D1D2DA;
  padding-top: 18px;
  text-shadow: 0 1px #FFFFFF;
}

/* USER NOTIFICATIONS SETUP */

#notification-setup .btn-group button {
  background-color: transparent;
  padding: 0;
}

/* MAPS */

#map_canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Optional responsive image override */
#map_canvas img { max-width: none; }

#map-controls.panel {
  background-color: transparent;
  box-shadow: none;
}

#map-controls .panel-heading {
  background-color: transparent;
  border-color: transparent;
  padding: 0 15px 10px;
}
#map-controls.panel-default {
  border-color: transparent;
}
#map-controls .panel-body {
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.8);
}

/* TYPOGRAPHY */
.ac { text-align:center }
td > .glyphicon-warning-sign, .dk-red, #alert-type-toggler .btn.active .glyphicon-warning-sign { color:#B94A48 }
.red { color: #B94A48 !important }
.dk-green { color: #468847 }

#alert-type-toggler .btn.active {
  .glyphicon-screenshot { color:#6AA5CF }
  .glyphicon-flash { color:#d6bb30 }
  .glyphicon-ok { color:forestgreen }
}

/* HEADING STATS */

.heading-stats { font-size:16px; font-weight:bold; text-shadow:0px 1px rgba(255, 255, 255, 0.5); }
.heading-stats em { font-weight:normal; font-size:14px; margin-right:15px; text-transform:uppercase }