.jqm-header {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #777777;
  text-shadow: 0 1px 0 #FFFFFF;
}
.jqm-header .jqm-navmenu-link .ui-icon {
  background-position: -3px 50%;
}
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .jqm-header .jqm-navmenu-link .ui-icon {
  background-position: -51px 50%;
}
.jqm-list .ui-btn-up-d {
  background-color: #FFFFFF;
  background-image: none;
}
.jqm-list .ui-btn-up-d, .jqm-list .ui-btn-hover-d, .jqm-list .ui-btn-down-d {
  border-color: #EEEEEE;
}
.jqm-list .ui-btn-hover-d {
  background-color: #f8f8f8;
  background-image: none;
}
.jqm-header > .ui-btn .ui-icon {
  background-color: transparent;
  background-image: image-url("jqm_demo-icons-sd.png");
  height: 31px;
  margin: 0;
  width: 31px;
}
.jqm-header > .ui-btn, .jqm-header > .ui-btn .ui-icon {
  box-shadow: none;
}
.jqm-header > .ui-btn, .jqm-header > .ui-btn .ui-btn-inner {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
}
.jqm-header > .ui-btn {
  border-radius: 0 0 0 0;
  height: 31px;
  width: 31px;
}
.ui-focus, .ui-btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}