!!!
%html
  %head
    %title Zinlot
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %div{data: { role:'page' }}
      %div.jqm-header{data: { role:'header', theme:'c' }}
        %h1
          %a#logo{href:'/'} ZinLot
        %a.jqm-navmenu-link{href: '#nav-menu', data: { icon:'bars', iconpos:'notext' }}
      #nav-menu{data: { role:'panel' }}
        %ul{data: { icon:'false', role:'listview', theme:'d' }}
          %li
            %a{href:'#'} Dashboard
          %li
            %a{href:'#'} Live Location
          %li
            %a{href:'#'} Alerts
          %li
            %a{href:'/test-drives'} Test Drives
          %li
            %a{href:'#'} Reports
          %li
            %a{href:'#'} Campaign Manager
          %li
            %a{href:'#'} Setup
      %div{data: { role:'content' }}
        = yield